
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.heading{
text-align: center;
}

.frame>*{
    margin:3rem;
}

/* frame of the body  */
.frame{
    border: 3px solid black;
    /* justify-content: center; */
    height: 75vh;
    width: 85vw;
    margin-left: 7rem;
}

/* styling circles */
.frame .circle{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 40px;
    border: 3px solid black;
   
}

/* div insides frame  */
.frame .container{
    display: flex;
}

.frame .container .arrow{ 
    font-size: 4rem;
}

.frame .yellow{
    background-color: yellow;
}

.frame .green{
    background-color: darkgreen;
}

.frame .blue{
    background-color: blue;
}

.frame .red{
    background-color: red;
}

.frame .container .arrow{
    margin-left: 60rem;
}




/* reset button styling */
.reset{
    font-size: 1.8em;
    margin: 1rem 0rem 0rem 70rem;
}



